@imfile-desktop:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=true
//registry.npmjs.org/:_authToken=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
# @test:registry=http://npm.test.net // @test开头的包发布到私有镜像源。如果有需要可以加上这句
//registry.npmjs.org/:_auth_auth=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 // 用第一步生成的auth